<div class="row">
  <div class="id">{{ event.id }}</div>
  <div class="cinnost">{{ event.event }}</div>
  <div class="stroj">{{ event.machine }}</div>
  <div class="jmeno">{{ event.name }}</div>
  <div class="cas-z">{{ event.startTime }}</div>
  <div class="cas-k">{{ event.endTime }}</div>
  <div class="comment">{{ event.comment }}</div>
  <div class="btn-container">
    <app-button
      color="rgb(255, 200, 20)"
      text="Upravit"
      (btnClick)="editEvent(event)"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      color="rgb(255, 87, 45)"
      text="Odebrat"
      (btnClick)="removeEvent(event)"
    ></app-button>
  </div>
</div>
